body{
  background-color:#B8F1B0;
}
h1{
 color: #EF5B0C;

}
h3{
  color: #3CCF4E;
}

hr{
  border-style: none;
  border-top-style:dotted;
  borded-color:grey;
  border-width:5px;
  width: 5%;
}
